.backdropSection {
  position: relative;
  isolation: isolate;
  overflow: clip;
  padding-top: max(var(--section-padding), clamp(160px, 15vw, 240px));
}

.content {
  position: relative;
  z-index: 1;
}

@media (max-width: 599px) {
  .backdropSection {
    padding-top: 138px;
  }
}
